
body {
    margin-bottom: 100px;

}


.jumbotron {
    text-align: center;
    background: white;
    background-image: linear-gradient(#04619F,#000000);
    border-radius: 10px;
    height:250px;
    color:white;
    border: #000000;
    padding-top: 15px;
   
}

h3 {
    text-align: center;
    color: #000000;

}

#startGame {
    background: white;
    color:#000000;
}

#answer{
    text-align:center;
    background-image: linear-gradient(#04619F,#000000);
    border-radius: 10px;
    color:white;
    margin:auto;
    font-size: 50px;
    padding:50px;
    margin-bottom: 10px;

}

#lose{
    text-align:center;
    background-image: linear-gradient(#04619F,#000000);
    border-radius: 10px;
    font-weight: bold;
    margin-bottom: 25px;
    color:white;
    height: 100px;
    padding:40px;
}

#win{
    text-align:center;
    background-image: linear-gradient(#04619F,#000000);
    border-radius: 10px;
    font-weight: bold;
    color:white;
    height: 100px;
    padding:40px;
}


#guess_remain {
    text-align:center;
    background-image: linear-gradient(#04619F,#000000);
    border-radius: 10px;
    font-weight: bold;
    margin-bottom: 25px;
    color:white;
    height: 100px;
    padding:40px;
   
}

#incorrect_guess{
    text-align:center;
    background-image: linear-gradient(#04619F,#000000);
    border-radius: 10px;
    font-weight: bold;
    color:white;
    height: 100px;
    padding:40px;
}